.description__aside {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 45em;
  background-color: #333645;
  color: #fff;
  padding-top: 10px;
}

.description__aside__inner > h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.description__aside__inner > p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 580;
  font-size: 17;
}

.description__aside__inner {
  background-color: #333645;
}

#bold__paragraph {
  font-weight: bold;
}

.description_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.9em;
  width: 9.6em;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px;
  border-radius: 4%;
  background: #ebebeb;
  color: black;
}

.middle__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
  width: 100%;
}

.middle__nav__card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #fff;
  height: 340px;
  margin-top: 75px;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.8em;
  font-family: inherit;
}

.middle__nav__card__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
}

.middle__nav__card__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85em;
}

.card__header__font {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 850;
  color: rgba(0, 0, 0, 0.8);
}

.middle__nav__card__text > p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
  height: 60px;
  font-weight: 700px;
  font-size: 14px;
  word-spacing: normal;
  text-align: center;
  letter-spacing: 0.1px;
  word-spacing: 0.3px;
  padding-bottom: 25px;
}

.middle__nav__read__more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.9em;
  width: 8.2em;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px;
  border-radius: 4%;
  background: #67809f;
  color: white;
}

.card__color__blue {
  background-color: #67809f;
}

.card__color__light__blue {
  background-color: #286abd;
}

.card__color__green {
  background-color: #2ecc71;
}

.card__color__red {
  background-color: #d64541;
}

.card__color__purple {
  background-color: #926fb1;
}

.card__color__light__red {
  background-color: #f62459;
}

.card__color__purple {
  background-color: #926fb1;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  margin: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFF9;
}

.container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #FFFFF9;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px;
}

.slider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 33em;
  background: url("Slider__background.jpg");
}

.slider__img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 30em;
}

.slider__img > img {
  width: 100%;
  height: 100%;
  padding: none;
}

@media (min-width: 3px) {
  .main__nav {
    display: none;
  }
}
.header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 9.5em;
  width: 100%;
}

.header__inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fff;
  width: 100%;
  height: 10em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.netmatters__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
  width: 100%;
}

.netmatters__logo__img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  width: 90%;
}

.header__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2em;
  width: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  padding-right: 0.7em;
}

.header__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  height: 20%;
}

.header_inner_top {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding-bottom: 10px;
}

.header__button__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5.7em;
  height: 54px;
  border: 2px;
  border-radius: 6%;
  color: #fff;
  font-variant-caps: all-small-caps;
  background-color: #333645;
}

.header__inner__bottom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 30%;
  position: relative;
}

.header__search__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  height: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__icon__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.search__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  color: #000;
}

.header__search__box > input {
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 350px;
}

.header__button__support {
  background-color: #4183d7;
}

.header__search__box > i {
  padding: 10px;
}

.header__button__contact {
  background-color: #999aa2;
}

.header__button__large {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1rem;
  height: 56px;
  border: 2px;
  border-radius: 4%;
  font-size: 26px;
  font-variant-caps: all-small-caps;
  color: #fff;
}

.header__button__search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  border: 2px;
  border-radius: 4%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.middle__nav__card__break {
  width: 35px;
  height: 3px;
  background-color: #d10707;
  border: none;
}