.description__aside {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
  background-color: #333645;
  color: #f7f7f7;
}

.description__aside__inner {
  display: flex;
  background-color: #333645;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4%;
}
.description__aside__inner h1 {
  display: inline-flex;
  height: 5%;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
.description__aside__inner :nth-child(2) {
  display: inline-flex;
  height: 17%;
  flex-wrap: wrap;
  text-align: left;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14.75px;
  padding-right: 10%;
  margin-bottom: 1%;
}
.description__aside__inner :nth-child(3) {
  display: inline-flex;
  height: 17%;
  flex-wrap: wrap;
  text-align: left;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-weight: 700px;
  font-size: 14.75px;
  margin-bottom: 1%;
  margin-top: 7%;
  padding-right: 9%;
}
.description__aside__inner :nth-child(4) {
  display: inline-flex;
  height: 17%;
  flex-wrap: wrap;
  text-align: left;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-weight: 700px;
  font-size: 14.75px;
  padding-right: 10%;
  margin-bottom: 1%;
}

.description_link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 8%;
  width: 34%;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px;
  border-radius: 4%;
  background: #d4d4d4;
  color: black;
  margin: 11% 0% 11% 0%;
}

.fas {
  color: #333645;
}

.middle__nav {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 100%;
}

.middle__nav__card {
  display: inline-flex;
  flex-direction: column;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #fff;
  height: 340px;
  margin-top: 75px;
  text-align: justify;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  font-family: inherit;
}

.card__hover__blue:hover {
  background-color: #67809f;
  color: white;
  border-color: #67809f;
}
.card__hover__blue:hover h2 {
  color: white;
}
.card__hover__blue:hover .middle__nav__read__more {
  background-color: white;
  color: #67809f;
}
.card__hover__blue:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__blue:hover .middle__nav__card__icon {
  background-color: white;
  color: #67809f;
}

.card__hover__light__blue:hover {
  background-color: #286abd;
  color: white;
  border-color: #286abd;
}
.card__hover__light__blue:hover h2 {
  color: white;
}
.card__hover__light__blue:hover .middle__nav__read__more {
  background-color: white;
  color: #286abd;
}
.card__hover__light__blue:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__light__blue:hover .middle__nav__card__icon {
  background-color: white;
  color: #286abd;
}

.card__hover__green:hover {
  background-color: #2ecc71;
  color: white;
  border-color: #2ecc71;
}
.card__hover__green:hover h2 {
  color: white;
}
.card__hover__green:hover .middle__nav__read__more {
  background-color: white;
  color: #2ecc71;
}
.card__hover__green:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__green:hover .middle__nav__card__icon {
  background-color: white;
  color: #2ecc71;
}

.card__hover__red:hover {
  background-color: #d64541;
  color: white;
  border-color: #d64541;
}
.card__hover__red:hover h2 {
  color: white;
}
.card__hover__red:hover .middle__nav__read__more {
  background-color: white;
  color: #d64541;
}
.card__hover__red:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__red:hover .middle__nav__card__icon {
  background-color: white;
  color: #d64541;
}

.card__hover__purple:hover {
  background-color: #926fb1;
  color: white;
  border-color: #926fb1;
}
.card__hover__purple:hover h2 {
  color: white;
}
.card__hover__purple:hover .middle__nav__read__more {
  background-color: white;
  color: #926fb1;
}
.card__hover__purple:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__purple:hover .middle__nav__card__icon {
  background-color: white;
  color: #926fb1;
}

.card__hover__light__red:hover {
  background-color: #f62459;
  color: white;
  border-color: #f62459;
}
.card__hover__light__red:hover h2 {
  color: white;
}
.card__hover__light__red:hover .middle__nav__read__more {
  background-color: white;
  color: #f62459;
}
.card__hover__light__red:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__light__red:hover .middle__nav__card__icon {
  background-color: white;
  color: #f62459;
}

.middle__nav__card__icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #67809f;
  color: white;
}

.middle__nav__card__text {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: 0.85em;
}

.card__header__font {
  display: inline-flex;
  font-weight: 850;
  color: rgba(0, 0, 0, 0.8);
}

.middle__nav__card__text > p {
  display: inline-flex;
  width: 90%;
  height: 60px;
  font-weight: 700px;
  font-size: 14px;
  word-spacing: normal;
  text-align: center;
  letter-spacing: 0.1px;
  word-spacing: 0.3px;
  padding-bottom: 25px;
}

.middle__nav__read__more {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 2.9em;
  width: 8.2em;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px;
  border-radius: 4%;
  background: #67809f;
  color: white;
}

.middle__nav__card__break {
  width: 35px;
  height: 3px;
  background-color: #3a3939;
  border: none;
}

.middle__nav__text__style {
  text-decoration: none;
}

.card__color__blue {
  background-color: #67809f;
}

.card__color__light__blue {
  background-color: #286abd;
}

.card__color__green {
  background-color: #2ecc71;
}

.card__color__red {
  background-color: #d64541;
}

.card__color__purple {
  background: #926fb1;
}

.card__color__light__red {
  background: #f62459;
}

.card__color__purple {
  background-color: #926fb1;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  margin: 0px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #FFFFF9;
}

.container {
  display: inline-flex;
  background-color: #ffffff;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0px 15px;
}

.header {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 9.5em;
  width: 100%;
}

.header__inner {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  background-color: #fff;
  width: 100%;
  height: 10em;
  justify-content: space-around;
  align-items: center;
}

.netmatters__logo {
  display: inline-flex;
  align-items: center;
  height: 4em;
  width: 100%;
}

.netmatters__logo__img {
  display: inline-flex;
  align-items: center;
  height: 80%;
  width: 90%;
}

.header__phone {
  display: inline-flex;
  height: 2em;
  width: 15%;
  align-items: center;
  color: black;
  transform: rotate(-45deg);
  padding-right: 0.7em;
}

.header__buttons {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 20%;
}

.header_inner_top {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 10px;
}

.header__button__menu {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 5.7em;
  height: 54px;
  border: 2px;
  border-radius: 6%;
  color: #fff;
  font-variant-caps: all-small-caps;
  background-color: #333645;
}

.header__inner__bottom {
  display: inline-flex;
  width: 100%;
  height: 30%;
  position: relative;
}

.header__search__box {
  display: inline-flex;
  font-size: 20px;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.search__icon__wrapper {
  display: inline-flex;
}

.search__icon {
  display: inline-flex;
  position: absolute;
  color: #000;
}

.header__search__box > input {
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 350px;
}

.header__button__support {
  background-color: #4183d7;
}

.header__search__box > i {
  padding: 10px;
}

.header__button__contact {
  background-color: #999aa2;
}

.header__button__large {
  display: inline-flex;
  flex-flow: column wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  width: 1rem;
  height: 56px;
  border: 2px;
  border-radius: 4%;
  font-size: 26px;
  font-variant-caps: all-small-caps;
  color: #fff;
}

.header__button__search {
  display: inline-flex;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 2px;
  border-radius: 4%;
  align-content: center;
}

.header__button__menu__burger {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  margin: 5px 0px -5px 0px;
}

.header__button__menu__text {
  display: flex;
  padding-top: -50px;
}

.slider {
  display: flex;
  width: 100%;
  height: 900px;
  background: url("../assets/Slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main__nav {
  display: none;
}

.latest__news__latest {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3%;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  font-size: 21px;
  font-family: poppins, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px;
  margin-right: 30px;
}
.latest__news__latest hr {
  display: flex;
  width: 15%;
  height: 3.6%;
  border: 1px solid #333232;
  background-color: #333232;
  margin-top: 30px;
  margin-left: 0px;
}

.latest__news__card {
  display: flex;
  width: 100%;
  height: 36rem;
  background: #ffffff;
  margin: 8% 0% 8% 0%;
  flex-direction: column;
}

.latest__news__card__header {
  display: flex;
  width: 100%;
  height: 65%;
  background: url(../assets/card__pic__2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: flex-end;
}

.latest__news__card__header__news__box {
  display: flex;
  width: 13%;
  height: 25px;
  z-index: 1;
  background-color: #4183d7;
  color: white;
  font-family: inherit;
  font-weight: 300;
  font-style: bold;
  font-size: 14px;
  text-transform: uppercase;
  justify-content: center;
}

.latest__news__card__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 70%;
  border-bottom: #e0e0e0 solid 1px;
  border-right: #e0e0e0 solid 1px;
  border-left: #e0e0e0 solid 1px;
}
.latest__news__card__body hr {
  width: 87%;
  height: 1px;
  background-color: #c7c5c5;
  border: none;
}

.latest__news__card__body__inner__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.6em;
}
.latest__news__card__body__inner__top a {
  color: #4183d7;
  font-weight: 600;
  font-style: bold;
  text-decoration: none;
  padding-right: 10em;
}
.latest__news__card__body__inner__top p {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  margin: 14px 30px 12px 30px;
}
.latest__news__card__body__inner__top :nth-child(3) {
  display: flex;
  width: 8em;
  height: 3em;
  background-color: #4183d7;
  border: 1.5px solid #4183d7;
  border-radius: 3px;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 58%;
}
.latest__news__card__body__inner__top :nth-child(3):hover {
  background-color: #3466a7;
}

.latest__news__card__footer {
  display: flex;
  width: 100%;
  height: 30%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin-left: 30px;
}
.latest__news__card__footer span {
  color: #302f2f;
  font-weight: bold;
}
.latest__news__card__footer p {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0px 60px 15px 20px;
}

.latest__news__card__footer__logo {
  display: flex;
  width: 11%;
  height: 55%;
  background: url("../assets/net__mini.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 16px 0px 0px 0px;
}

.news__letter__sign__up {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35em;
  background-color: #ddd;
}

.news__letter__sign__up__inner {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0px 20px;
}
.news__letter__sign__up__inner h3 {
  display: flex;
  margin-bottom: 0px;
}

.red__astrix {
  display: flex;
  width: 10%;
  color: red;
}

.news__letter__sign__up__subscribe {
  display: flex;
  width: 8em;
  height: 3em;
  border: 2px;
  border-radius: 4%;
  background-color: #333645;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
}

#sign_up {
  display: flex;
  width: 10em;
}

#your__name__search__input {
  display: flex;
  width: 80%;
  height: 3em;
  background-color: white;
  border: 2px solid #d4d2d2;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 350px;
}

#your__email__search__input {
  display: flex;
  width: 80%;
  height: 3em;
  background-color: white;
  border: 2px solid #d4d2d2;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 350px;
}

[type=checkbox] {
  opacity: 0;
}

[type=checkbox] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  color: #333645;
  line-height: 25px;
}

[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  outline: 2px solid;
  background: #fff;
}

[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  outline: 2px solid #333645;
  background: #fff;
}

[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  background-image: url(../assets/check.png);
  background-size: contain;
}

.brand__logos {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
