.description__aside {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
  background-color: #333645;
  color: #f7f7f7;
  margin-top: 50px;
  padding-bottom: 14px;
}

.description__aside__inner {
  display: flex;
  background-color: #333645;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4%;
  padding-top: 5px;
}
.description__aside__inner h1 {
  display: inline-flex;
  height: 5%;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
.description__aside__inner :nth-child(2) {
  display: inline-flex;
  height: 17%;
  flex-wrap: wrap;
  text-align: left;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14.75px;
  padding-right: 10%;
  margin-bottom: 1%;
}
.description__aside__inner :nth-child(3) {
  display: inline-flex;
  height: 17%;
  flex-wrap: wrap;
  text-align: left;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-weight: 700px;
  font-size: 14.75px;
  margin-bottom: 1%;
  margin-top: 12%;
  padding-right: 9%;
}
.description__aside__inner :nth-child(4) {
  display: inline-flex;
  height: 17%;
  flex-wrap: wrap;
  text-align: left;
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-weight: 700px;
  font-size: 14.75px;
  padding-right: 10%;
  margin-bottom: 1%;
}

.description_link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 8%;
  width: 34%;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px;
  border-radius: 4%;
  background: #f0f0f0;
  color: black;
  margin: 11% 0% 11% 0%;
  text-decoration: none;
}

.description_link:hover {
  background: #dddbdb;
}

.fas {
  color: #333645;
}

.middle__nav {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 1em;
  align-items: center;
  flex-wrap: none;
}

.middle__nav__card {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  object-fit: contain;
  border: 0.1em solid rgba(88, 88, 88, 0.3);
  border-radius: 0.3em;
  background-color: #fff;
  height: 98%;
  margin-top: 3em;
  text-align: justify;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  font-family: inherit;
  box-shadow: 0px 0px 10px 0px #d8d8d8;
}

.card__hover__blue:hover {
  background-color: #67809f;
  color: white;
  border-color: #67809f;
}
.card__hover__blue:hover h2 {
  color: white;
}
.card__hover__blue:hover i {
  color: #67809f;
}
.card__hover__blue:hover .middle__nav__read__more {
  background-color: white;
  color: #67809f;
}
.card__hover__blue:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__blue:hover .middle__nav__card__icon {
  background-color: white;
  color: #67809f;
}

.card__hover__light__blue:hover {
  background-color: #286abd;
  color: white;
  border-color: #286abd;
}
.card__hover__light__blue:hover h2 {
  color: white;
}
.card__hover__light__blue:hover i {
  color: #286abd;
}
.card__hover__light__blue:hover .middle__nav__read__more {
  background-color: white;
  color: #286abd;
}
.card__hover__light__blue:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__light__blue:hover .middle__nav__card__icon {
  background-color: white;
  color: #286abd;
}

.card__hover__green:hover {
  background-color: #2ecc71;
  color: white;
  border-color: #2ecc71;
}
.card__hover__green:hover h2 {
  color: white;
}
.card__hover__green:hover i {
  color: #2ecc71;
}
.card__hover__green:hover .middle__nav__read__more {
  background-color: white;
  color: #2ecc71;
}
.card__hover__green:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__green:hover .middle__nav__card__icon {
  background-color: white;
  color: #2ecc71;
}

.card__hover__red:hover {
  background-color: #d64541;
  color: white;
  border-color: #d64541;
}
.card__hover__red:hover h2 {
  color: white;
}
.card__hover__red:hover i {
  color: #d64541;
}
.card__hover__red:hover .middle__nav__read__more {
  background-color: white;
  color: #d64541;
}
.card__hover__red:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__red:hover .middle__nav__card__icon {
  background-color: white;
  color: #d64541;
}

.card__hover__purple:hover {
  background-color: #926fb1;
  color: white;
  border-color: #926fb1;
}
.card__hover__purple:hover h2 {
  color: white;
}
.card__hover__purple:hover i {
  color: #926fb1;
}
.card__hover__purple:hover .middle__nav__read__more {
  background-color: white;
  color: #926fb1;
}
.card__hover__purple:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__purple:hover .middle__nav__card__icon {
  background-color: white;
  color: #926fb1;
}

.card__hover__light__red:hover {
  background-color: #f62459;
  color: white;
  border-color: #f62459;
}
.card__hover__light__red:hover h2 {
  color: white;
}
.card__hover__light__red:hover i {
  color: #f62459;
}
.card__hover__light__red:hover .middle__nav__read__more {
  background-color: white;
  color: #f62459;
}
.card__hover__light__red:hover .middle__nav__card__break {
  background-color: white;
}
.card__hover__light__red:hover .middle__nav__card__icon {
  background-color: white;
  color: #f62459;
}

.middle__nav__card__icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-color: #67809f;
  color: white;
}
.middle__nav__card__icon i {
  color: #fff;
}

.middle__nav__card__text {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: 0.85em;
}

.card__header__font {
  display: inline-flex;
  font-weight: 850;
  color: rgba(0, 0, 0, 0.8);
}

.middle__nav__card__text > p {
  display: inline-flex;
  width: 90%;
  height: 60px;
  font-weight: 700px;
  font-size: 14px;
  word-spacing: normal;
  text-align: center;
  letter-spacing: 0.1px;
  word-spacing: 0.3px;
  padding-bottom: 5px;
  color: #0e0e0e;
}

.middle__nav__read__more {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 2.9em;
  width: 8.2em;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px;
  border-radius: 4%;
  background: #67809f;
  color: white;
  margin-bottom: 15px;
}

.middle__nav__card__break {
  width: 35px;
  height: 3px;
  background-color: #3a3939;
  border: none;
}

.middle__nav__text__style {
  text-decoration: none;
  margin-top: 11px;
}

.card__color__blue {
  background-color: #67809f;
}

.card__color__light__blue {
  background-color: #286abd;
}

.card__color__green {
  background-color: #2ecc71;
}

.card__color__red {
  background-color: #d64541;
}

.card__color__purple {
  background: #926fb1;
}

.card__color__light__red {
  background: #f62459;
}

.card__color__purple {
  background-color: #926fb1;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  margin: 0px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #FFFFF9;
}

.container {
  display: inline-flex;
  background-color: #ffffff;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0px 15px;
}

.slider {
  display: flex;
  width: 100%;
  height: 757px;
  background: url("../assets/Slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main__nav {
  display: none;
}

.main__nav__inner {
  display: none;
}

.main__nav__inner__button {
  display: none;
}

.latest__news {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.latest__news__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  font-size: 21px;
  font-family: poppins, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px;
}
.latest__news__header hr {
  display: flex;
  width: 14%;
  height: 3.6%;
  border: 2.5px solid #333232;
  background-color: #333232;
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.latest__news__wrapper {
  display: flex;
  padding-left: 15px;
}

.news__container {
  background: #f1f1f1;
}

.latest__news__card {
  display: flex;
  width: 100%;
  height: 30%;
  background: #ffffff;
  margin: 8% 0% 8% 0%;
  flex-direction: column;
}

.latest__news__card__header {
  display: flex;
  width: 100%;
  height: 65%;
  flex-direction: row;
  justify-content: flex-end;
}
.latest__news__card__header img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.latest__news__card__header__news__box {
  display: flex;
  width: 13%;
  height: 25px;
  z-index: 3;
  position: absolute;
  background-color: #4183d7;
  color: white;
  font-family: inherit;
  font-weight: 300;
  font-style: bold;
  font-size: 14px;
  text-transform: uppercase;
  justify-content: center;
}

.latest__news__card__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 70%;
  border-bottom: #e0e0e0 solid 1px;
  border-right: #e0e0e0 solid 1px;
  border-left: #e0e0e0 solid 1px;
}
.latest__news__card__body hr {
  width: 87%;
  height: 1px;
  background-color: #c7c5c5;
  border: none;
}

.latest__news__card__body__inner__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.6em;
}
.latest__news__card__body__inner__top p {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  margin: 14px 30px 12px 30px;
  color: #666;
  letter-spacing: 0.4;
}
.latest__news__card__body__inner__top :nth-child(3) {
  display: flex;
  width: 8em;
  height: 100% 7;
  background-color: #4183d7;
  border: 1.5px solid #4183d7;
  border-radius: 3px;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 58%;
  padding: 0px;
}
.latest__news__card__body__inner__top :nth-child(3):hover {
  background-color: #3466a7;
}

.latest__news__card__footer {
  display: flex;
  width: 100%;
  height: 30%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin-left: 30px;
}
.latest__news__card__footer span {
  color: #302f2f;
  font-weight: bold;
}
.latest__news__card__footer p {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0px 60px 15px 20px;
}

.latest__news__card__footer__logo {
  display: flex;
  width: 15%;
  height: 70%;
  background: url("../assets/net__matters__small__logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 16px 0px 15px 0px;
}

.news__letter__sign__up {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40.75em;
  background-color: #ddd;
}

.news__letter__sign__up__inner {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0px 20px;
}
.news__letter__sign__up__inner h1 {
  display: flex;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.4px;
  font-family: sans-serif;
  color: #333645;
  padding-right: 16.66em;
}
.news__letter__sign__up__inner a {
  color: #333645;
}
.news__letter__sign__up__inner h3 {
  display: flex;
  margin-bottom: 0px;
}

.news__letter__sign__up__inner__name {
  display: flex;
}
.news__letter__sign__up__inner__name :nth-child(2) {
  display: flex;
  width: 10%;
  color: #c72747;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 5px;
}

.news__letter__sign__up__inner__email {
  display: flex;
}
.news__letter__sign__up__inner__email :nth-child(2) {
  display: flex;
  width: 10%;
  color: #c72747;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 5px;
}

.news__letter__sign__up__subscribe {
  display: flex;
  width: 8em;
  height: 3em;
  border: 2px;
  border-radius: 4%;
  background-color: #333645;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
  cursor: pointer;
}

.news__letter__sign__up__subscribe:hover {
  background-color: #252731;
}

.news__letter__tickbox {
  display: flex;
}

#sign_up {
  display: flex;
  width: 10em;
}

#your__name__search__input {
  display: flex;
  width: 80%;
  height: 3em;
  background-color: white;
  border: 2px solid #d4d2d2;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 350px;
}

#your__email__search__input {
  display: flex;
  width: 80%;
  height: 3em;
  background-color: white;
  border: 2px solid #d4d2d2;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 350px;
}

[type=checkbox] {
  opacity: 0;
}

[type=checkbox] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  color: #333645;
  padding-left: 46px;
  padding-right: 50px;
  line-height: 32px;
  color: #333645;
  font-weight: bolder;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  font-size: 1rem;
}

[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  outline: 3px solid;
  border-radius: 3%;
  background: #ddd;
}

[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  outline: 2px solid #333645;
  background: #ddd;
}

[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  background-image: url(../assets/check.png);
  background-size: contain;
}

.brand__logos {
  display: none;
}

footer {
  display: flex;
  width: 100%;
  height: 60em;
  background-color: #333645;
  color: #fff;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
footer hr {
  width: 92%;
  height: 1px;
  border: none;
  background-color: rgba(175, 166, 166, 0.6);
}

.footer_inner {
  display: flex;
  width: inherit;
}

.footer__inner__branch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__inner__lower {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 20px 0px 20px;
}
.footer__inner__lower p {
  width: 50%;
  font-size: 13px;
}
.footer__inner__lower a {
  display: flex;
  height: 3em;
  color: #fff;
  text-decoration: none;
}

.footer__inner__about__services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 77px 0px 30px;
  justify-content: space-between;
}

.footer__about__list {
  list-style-type: none;
  padding: 10px 0px 0px 0px;
}

.footer__our__services__list {
  list-style-type: none;
  padding: 10px 0px 0px 0px;
}

.footer__cambridge__branch__list {
  list-style-type: none;
  padding: 10px 0px 0px 0px;
}

.footer__wymondham__branch__list {
  list-style-type: none;
  padding: 10px 0px 0px 0px;
}

.footer__great__yarmouth__branch__list {
  list-style-type: none;
  padding: 0px;
}

.social__media__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 15px;
}
.social__media__buttons :nth-child(1) {
  padding-left: 8px;
}

.header {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 9.5em;
  width: 100%;
}

.header__inner {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.netmatters__logo {
  display: inline-flex;
  align-items: center;
  height: 4em;
  width: 100%;
}

.netmatters__logo__img {
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.header__phone {
  display: inline-flex;
  height: 2em;
  width: 15%;
  align-items: center;
  color: black;
  transform: rotate(-45deg);
  padding: 8px 0px 0px 15px;
}

.header__buttons {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 20%;
}

.header_inner_top {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 10px;
}

.header__button__menu {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 5.7em;
  height: 54px;
  border: 2px;
  border-radius: 6%;
  color: #fff;
  font-variant-caps: all-small-caps;
  background-color: #333645;
}

.header__inner__bottom {
  display: inline-flex;
  width: 100%;
  height: 30%;
  position: relative;
}

.header__search__box {
  display: flex;
  font-size: 20px;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.search__icon__wrapper {
  display: inline-flex;
}

.search__icon {
  display: inline-flex;
  position: absolute;
  color: #000;
}

.header__search__box > input {
  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 350px;
  padding: 0px 40px 0px 20px;
}

.header__button__support {
  background-color: #4183d7;
}

.header__search__box > i {
  padding: 10px;
}

.header__button__contact {
  background-color: #999aa2;
}

.header__button__large {
  display: inline-flex;
  flex-flow: column wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  width: 1rem;
  height: 56px;
  border: 2px;
  border-radius: 4%;
  font-size: 26px;
  font-variant-caps: all-small-caps;
  color: #fff;
}

.header__button__search {
  display: inline-flex;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 2px;
  border-radius: 4%;
  align-content: center;
}

.header__button__menu__burger {
  width: 50%;
  height: 3px;
  background-color: white;
  border: none;
  margin: 5px 0px -5px 0px;
}

.header__button__menu__text {
  display: flex;
  padding-top: -50px;
}

.header__inner__search__large {
  display: none;
}

.card__media__750 {
  display: none;
}

@media (min-width: 750px) {
  .header__button__menu {
    width: 5.7em;
    height: 3.5em;
    padding-right: 10px;
    padding-left: 10px;
  }

  .header__phone {
    display: none;
  }

  .header__inner__bottom {
    display: none;
  }

  .header {
    height: 7.81em;
  }

  .header__inner__search__large {
    display: flex;
    width: 30em;
    background-color: white;
    margin-right: 1em;
    margin-left: 20px;
    border-radius: 5%;
  }

  .header__inner__search__large__inner {
    display: flex;
    width: 100%;
  }

  .search__bar {
    display: flex;
    background-color: white;
    width: 70%;
    border-top: 2px solid #d6d6d6;
    border-left: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    border-right: 0px;
    border-radius: 2%;
    padding-left: 10px;
    align-items: center;
    font-family: poppins, sans-serif;
    font-size: 14px;
    line-height: 0.4em;
  }

  .search__magnifying__glass {
    display: flex;
    background-color: #999aa2;
    width: 30%;
    border: 2px solid #999aa2;
    border-left: 0px;
    border-radius: 3%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .middle__nav__card {
    width: 100%;
  }

  .middle__nav__text__style {
    width: 49%;
    height: 50%;
  }

  #magiglass {
    color: white;
  }

  .card__wrapper__750 {
    display: none;
  }

  .card__media__750 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .card__media__750__inner {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card__media__750__inner div {
    margin: 0px;
  }

  .top__cards__750 {
    width: 100%;
  }

  /* These are used to edit only two of the cards
   rather then all of them.*/
  #card__750__a {
    display: flex;
    margin-right: 10px;
  }

  #card__750__b {
    display: flex;
    margin-right: 10px;
  }

  .description__aside {
    margin-top: 100px;
  }

  .description_link {
    margin: 30px 0px;
    height: 100%;
    width: 25%;
  }

  #news__hide__card {
    display: none;
  }

  .latest__news {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .latest__news__card {
    width: 42%;
    height: 36rem;
    margin: 6.2% 0% 8% 0%;
  }

  #news__lower__card {
    margin: 60.5px 30px 60.5px 49px;
  }

  .latest__news__card__body__inner__top {
    align-items: flex-start;
    margin-left: 24px;
  }
  .latest__news__card__body__inner__top p {
    margin: 14px 30px 12px 0px;
  }

  .latest__news__card__footer__logo {
    width: 16%;
    height: 47%;
  }
}
@media (min-width: 990px) {
  .main__nav {
    display: flex;
    height: 100%;
    width: 100px;
  }

  .main__nav__inner {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .main__nav__inner__button {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: darkgreen;
  }
}

/*# sourceMappingURL=styles.css.map */
