:root{
  max-resolution: 100%;
  height: 100%;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}
.container {
  display: flex;

}
.header {
  max-width: 1em;
  max-height: 1em;
}
.header__button {

}
.header__search {

}
.header__button__support {

}
.header__button__contact {

}
.header__button__search {

}
.header__button__search
{

}
.main__nav{

}
.main__nav__button {

}
