:root {
  max-resolution: 100%;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: blue;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

a.netmatters__logo {
  text-decoration: none;
}

.header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  background-color: green;
  height: 10em;
  width: 50%;
}