:root{
  max-resolution: 100%;

  font-family: Poppins, sans-serif;
  font-size: 18px;
}
.container {
  display: inline-flex;
  background-color: blue;

  height: 100%;

}

.header {
  display: inline-flex;
  flex: wrap;
  background-color: green;
  height: 10em;

}
.header__innner{

}
.header__button {

}
.header__search {

}
.header__button__support {

}
.header__button__contact {

}
.header__button__search {

}
.header__button__search
{

}
.main__nav{

}
.main__nav__button {

}
