
.middle__nav {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

}

.middle__nav__card {
  display: inline-flex;
  flex-direction: column;
  border: 1.5px solid rgb(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #fff;
  height: 350px;
  margin-top: 75px;
  text-align: justify;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  font-family: inherit;
}
.middle__nav__card__icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #67809f;
  color: white;

}

.middle__nav__card__text {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: 0.85em;
}

.card__header__font {
  display: inline-flex;
  font-weight: 850;
  color: rgb(0, 0, 0, 0.8);
}

.middle__nav__card__text > p {
  display: inline-flex;
  width: 90%;
  height: 60px;
  font-weight: 450;
  font-size: 13px;
  word-spacing: normal;
  text-align: center;
}
