// // //
body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  margin: 0px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #FFFFF9;
  }
//
//
//
.container {
  display: inline-flex;
  background-color: #FFFFF9;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0px 15px;
  }
//
//
//
//
.header {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 9.5em;
  width: 100%;
}
//
.header__inner {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  background-color: #fff;
  width: 100%;
  height: 10em;
  justify-content: space-around;
  align-items: center;
  }
//
.netmatters__logo {
  display: inline-flex;
  align-items: center;
  height: 3em;
  width: 100%;
}
//
.netmatters__logo__img {
  display: inline-flex;
  align-items: center;
  height: 80%;
  width: 90%;
}
//
.header__phone {
  display: inline-flex;
  height: 2em;
  width: 15%;
  align-items: center;
  color: black;
  transform: rotate(-45deg);
  padding-right: 0.7em;

}
//
.header__buttons {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 20%;

}
//
.header_inner_top {
  display: inline-flex;
  flex-direction: row;
  justify: flex-end;
  width: 100%;
  padding-bottom: 10px;
}
//
.header__button__menu {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 5.7em;
  height: 54px;
  border: 2px;
  border-radius: 6%;
  color: #fff;
  font-variant-caps: all-small-caps;
  background-color: #333645;
}
//
.header__inner__bottom {
  display: inline-flex;
  width: 100%;
  height: 30%;
  position: relative;
}
//
.header__search__box {
display: inline-flex;
font-size: 20px;
align-self: flex-start;
width: 100%;
height: 100%;
align-self: flex-end;
justify-content: flex-end;
align-items: center;
}

.search__icon__wrapper {
  display: inline-flex;
}




.search__icon{
  display: inline-flex;
  position: absolute;
  color: #000;
}


//
.header__search__box > input {
  width: 100%;
  height: 90%;
  background-color: rgba(0,0,0,.1);
  outline: 1px solid hsla(0,0%,100%,.2);
  border: 2px solid rgba(0,0,0,.1);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 350px;
}
//
.header__button__support {
  background-color: #4183d7;
}

.header__search__box > i {
  padding: 10px;
}

//
.header__button__contact {
  background-color: #999aa2;
}
//
.header__button__large {
  display: inline-flex;
  flex-flow: column wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  width: 1rem;
  height: 56px;
  border: 2px;
  border-radius: 4%;
  font-size: 26px;
  font-variant-caps: all-small-caps;
  color: #fff;
}
//
.header__button__search {
  display: inline-flex;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 2px;
  border-radius: 4%;
  align-content: center;
}
//
.header__menu__lines {
  width: 2em;
  height: 1em;

}
//
.middle__nav__card__break{
  width: 35px;
  height: 3px;
  background-color: black;
  border: none;
}
//
//
//
.main__nav {
}
//
.main__nav__button {
}
//
//
//
.slider {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 33em;
  background: url("Slider__background.jpg");
}
//
// .slider__header {
//
// }
//
// .slider__dots{
//   display: inline-flex;
//   width: 100%;
//   border: none;
//   justify-content: space-around;
// }
//
// .slider__dots__inner {
//   background-color: #666;
//   border: none;
//   padding: 20px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin: 4px 2px;
//   border-radius: 50%;
// }
//
.slider__img {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 30em;
}
//
// .slider__dots___selected {
//   box-shadow: 0px 0px 0px 3px blue;
// }
// //
.slider__img > img {
  width: 100%;
  height: 100%;
  padding: none;

}


//
//
//
@media (min-width: 3px) {
  .main__nav {
    display: none;
  }


}
// // //
