// 
     //////////////////////////////////////
    /////////Screen Size 750px///////////
    ////////////////////////////////////
@media (min-width: 750px) {
    ////////////////////////
    /////// Header ////////
    ///////////////////////
    .header__button__menu {
    width: 5.7em;
    height: 3.5em;
    padding-right: 10px;
    padding-left: 10px;
    }

    .header__buttons{
        display: none;
    }
    .header__phone {
        display: none;
    }

    .header__inner__bottom {
        display: none;
    }

    .header {
        height: 7.81em;
    }

    .header__inner__search__large {
        display: flex;
        width: 30em;
        background-color: white;
        margin-right: 1em;
        margin-left: 20px;
        border-radius: 5%;
    }

    .header__inner__search__large__inner {
        display: flex;
        width: 100%;
    }

    .search__bar {
        display: flex;
        background-color: white;
        width: 70%;
        border-top: 2px  solid rgb(214, 214, 214);
        border-left: 2px  solid rgb(214, 214, 214);
        border-bottom: 2px  solid rgb(214, 214, 214);
        border-right: 0px;
        border-radius: 2%;
        padding-left: 10px;
        align-items: center;
        font-family: poppins, sans-serif;
        font-size: 14px;
        line-height: .4em;
    }

    .search__magnifying__glass {
        display: flex;
        background-color: #999aa2;
        width: 30%;
        border: 2px solid #999aa2;
        border-left: 0px;
        border-radius: 3%;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
     /////////////////////// 
    ///// Middle nav //////
    ///////////////////////
    .middle__nav__card {
        width: 100%;
    }

    .middle__nav__text__style {
        width: 49%;
        height: 50%;
    }
    #magiglass{
        color: white;
    }

    .card__wrapper__750 {
        display: none;
    }

    .card__media__750 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .card__media__750__inner {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: center;
        
        div{
        margin: 0px;
        }
    }

    .top__cards__750 {
        width: 100%;
    }

    /* These are used to edit only two of the cards
     rather then all of them.*/
    #card__750__a{
        display: flex;
        margin-right: 10px;
    }

    #card__750__b{
        display: flex;
        margin-right: 10px;
    }

    ///////////////////////////
    /////Description aside////
    ///////////////////////////
    .description__aside {
        margin-top: 100px
    }



    .description_link{
        margin: 30px 0px;
        height:100%;
        width:25%;
    }


     //////////////////////////
    /////// news cards ///////
    //////////////////////////
    
    #news__hide__card {
        display: none;
    }

    
    .latest__news {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    } 
    .latest__news__card {
        width: 42%;
        height: 36rem;
        margin: 6.2% 0% 8% 0%;
    }

    #news__lower__card {
        margin: 60.5px 30px 60.5px 49px;
    }

    

    .latest__news__card__body__inner__top {
        
        align-items: flex-start;
        margin-left: 24px;

        p {
            margin: 14px 30px 12px 0px;
        }
    }

    .latest__news__card__footer__logo {
        width: 16%;
        height: 47%;
    }
}
    
     //////////////////////////////////////
    /////////Screen Size 990px///////////
    ////////////////////////////////////
@media (min-width: 990px){
    // 
     ///////////////////////////
    /////////Header////////////
    ///////////////////////////
    #search__hide__990{
        display: none;
    }
    #menu__hide__990{
        display: none;
    }




    .header__button__990__wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        padding-left: 0px;
        margin-left: 150px;
    }

    .header {
        height: 6.5em;
    }

    .header_inner_top{
        justify-content: flex-end;
        margin-left: 108px ;
        padding-bottom: 0px;
    }
    .netmatters__logo {
        width: 30%;
        padding-right: 0px;
        margin-right: 0px;
    }
    .header__buttons {
        width: 50%;
        height: 60px
    }
    .search__bar {
        display: none;
    }

    .header__button__support{
        display: flex;
        color: white;
    }

    .header__button__contact{
        display: flex;
    }

    .header__button__large {
        display: flex;
        margin-right: 15px;
        width: 25%;
    }

    .header__button__menu{
        width: 2.7em;
        height: 3.4em;
        margin-left: 10px;
        margin-right: 70px;
    }

    .header__inner__search__large {
        width: 3.8em;
        height: 3.1em;
        margin: 0px;


    }

    .header__inner__search__large__inner {
        width: 100%;
        height: 100%;

    }


    .search__magnifying__glass {
        height: 100%;
        width: 100%;
    }














     ///////////////////////////
    /////////Main Nav///////////
    ///////////////////////////
    .main__nav {
        display: flex;
        height:100px;
        width: 100%; 
        z-index: 1;
    }

    .main__nav__inner {
        display: flex;
        width: 100%;
        height: 100%;
    }
    // 
    //////////////////////////////////
    /////////Button Colors///////////
    ////////////////////////////////
div.main__nav__inner__button:nth-of-type(1){
        background-color: #333645;
        border-right: 1px solid #56586d79;
        border-bottom: 1px solid #e0e2f779;
        width: 80%;
    }

    div.main__nav__inner__button:nth-of-type(8){
        background-color: #333645;
        border-right: 1px solid #56586d79;
        border-bottom: 1px solid #e0e2f779;
        width: 80%;
    }
    // 
    //  
    #main__nav__inner__button__one {
        i{
            color: #926fb1;
            padding-bottom: 10px;
        }
    }
    // 
    #main__nav__inner__button__two {
        i{
            color: #286abd;
            padding-bottom: 10px;  
        }
    }
    // 
    #main__nav__inner__button__three {
        i{
            color: #d64541;
            padding-bottom: 10px;  
        }
    }
    // 
    #main__nav__inner__button__four {
        i{
            color: #67809f;
            padding-bottom: 10px;
        }
    }
    // 
    #main__nav__inner__button__five{
        i{
            color: #2ecc71;
            padding-bottom: 10px;
        }
    }
    // 
    #main__nav__inner__button__six {
        i{
            color: #f62459;
            padding-bottom: 10px;
        }
    }
    // 
    //  
     ////////////////////////////////////////
    /////////Main Nav Hover State///////////
    ///////////////////////////////////////
    #main__nav__inner__button__one:hover{
        background-color:  #926fb1;
        i{
            color: #fff;
        }  
    }
    // 
    #main__nav__inner__button__one:hover  .nav__under__bar {
        display: flex; 
    }
    // 
    #main__nav__inner__button__two:hover{
        background-color: #286abd;
        i{
            color: #fff;
        }
    }
    // 
    #main__nav__inner__button__three:hover {
        background-color: #d64541;
        i{
            color: #fff;
        }
    }
    // 
    #main__nav__inner__button__four:hover {
        background-color: #67809f;
        i{
            color: #fff;
        }
    }
    // 
    #main__nav__inner__button__five:hover {
        background-color: #2ecc71;
        i{
            color: #fff;
        }
    }
    #main__nav__inner__button__six:hover {
        background-color: #f62459;
        i{
            color: #fff;
        }
    }


    #header__container__larger{
        width: 100%;
        padding: 0px;
    }


    .main__nav__inner__button{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #333645;
        border-left: 1px solid #1b1c2479;
        border-right: 1px solid #56586d79;
        border-bottom: 1px solid #e0e2f779;
    }

    .main__nav__inner__button__name{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: white;

        span{
            display: flex;
            width: 80%;
            height: 10%;
            flex-direction: column;
        }
        
        i{
            display: flex;
        }  
    }
    .main__nav__inner__button__name__small {
        font-family: poppins, sans-serif;
        text-transform: uppercase;
        font-size: 10px;
        align-items: center;
        color: #fff;
    }

    .main__nav__inner__button__name__large {
        font-family: poppins, sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        width: 50%;
        align-items: center;
        color: #fff;
    }

    .netmatters__logo{
        width: 50%;




    }
    // 
    // 
    // 
    .nav__under__bar{
        display: none;
        width: 100%;
        height: 50px;
        background-color: brown;
    }
    // 
    // 
    .nav__under__bar__list__one{
        display: flex;
        color: white;
        width: 100%;
        list-style-type: none;
        font-family: poppings, sans-serif;
        text-transform: uppercase; 
        font-size: 13px;
    }
    // 
    // 
     //////////////////////////////////////
    /////////Main Nav Under Bar///////////
    /////////////////////////////////////
    .nav__under__bar__list__two{
        display: none;
        color: white;
        width: 100%;
        list-style-type: none;
        font-family: poppings, sans-serif;
        text-transform: uppercase; 
        font-size: 13px;
    }
    // 
    .nav__under__bar__list__three{
        display: none;
        color: white;
        width: 100%;
        list-style-type: none;
        font-family: poppings, sans-serif;
        text-transform: uppercase; 
        font-size: 13px;
    }
    .nav__under__bar__list__four{
        display: none;
        color: white;
        width: 100%;
        list-style-type: none;
        font-family: poppings, sans-serif;
        text-transform: uppercase; 
        font-size: 13px;
    }
    // 
    .nav__under__bar__list__five{
        display: none;
        color: white;
        width: 100%;
        list-style-type: none;
        font-family: poppings, sans-serif;
        text-transform: uppercase; 
        font-size: 13px;
    }
    // 
    .nav__under__bar__list__six{
        display: none;
        color: white;
        width: 100%;
        list-style-type: none;
        font-family: poppings, sans-serif;
        text-transform: uppercase; 
        font-size: 13px;
    }
    
}
// 
     //////////////////////////////////////
    /////////Screen Size 1550px///////////
    ////////////////////////////////////
@media (min-width: 1550px) {
    // 
     /////////////////////////
    /////////Header///////////
    //////////////////////////
    .search__bar {
        display: flex;
        height: 96%;
    }
    

    .header__button__large {
        display: flex;
        margin-right: 19px;
        width: 15%;
    }

    .search__magnifying__glass {
        height: 100%;
        width: 20%;
    }

    .header__inner__search__large {
        width: 22.8em;
        height: 3.1em;
        margin: 0px;
    }













}