
.middle__nav {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 100%;

}

.middle__nav__card {
  display: inline-flex;
  flex-direction: column;
  border: 1.5px solid rgb(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #fff;
  height: 340px;
  margin-top: 75px;
  text-align: justify;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  font-family: inherit;
}
.middle__nav__card__icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;

}

.middle__nav__card__text {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: 0.85em;
}

.card__header__font {
  display: inline-flex;
  font-weight: 850;
  color: rgb(0, 0, 0, 0.8);
}

.middle__nav__card__text > p {
  display: inline-flex;
  width: 90%;
  height: 60px;
  font-weight: 700px;
  font-size: 14px;
  word-spacing: normal;
  text-align: center;
  letter-spacing: 0.1px;
  word-spacing: 0.3px;
  padding-bottom: 25px;
}

.middle__nav__read__more {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 2.9em;
  width: 8.2em;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px;
  border-radius: 4%;
  background: #67809f;
  color: white;
}

//
// Colours for icons
//
.card__color__blue {
  background-color:  #67809f;
}
.card__color__light__blue {
  background-color: #286abd;
}
.card__color__green {
  background-color: #2ecc71;
}
.card__color__red {
  background-color: #d64541;
}
.card__color__purple {
  background-color: #926fb1;
}
.card__color__light__red {
  background-color: #f62459;
}
.card__color__purple {
  background-color: #926fb1;
}
