.middle__nav {
  display: inline-flex;
    flex-direction: column;
    padding-bottom: 1em;
    
    align-items: center;
    flex-wrap: wrap;



}

.middle__nav__card {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  object-fit: contain;
  border: 0.1em solid rgba(88, 88, 88, 0.3);
  border-radius: 0.3em;
  background-color: #fff;
  height: 98%;
  margin-top: 3em;
  text-align: justify;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  font-family: inherit;
  box-shadow: 0px 0px 10px 0px #d8d8d8;
}

// 
// 
//  ON HOVER EFFECTS FOR BLUE CARD

.card__hover__blue:hover {
  background-color: #67809f;
  color: white;
  border-color: #67809f;

  h2{
    color: white;

  
  }

  i{
    color: #67809f;
  }
  
  .middle__nav__read__more {
    background-color: white;
    color: #67809f;
  }

  .middle__nav__card__break{
    background-color: white;
  }

  .middle__nav__card__icon {
    background-color: white;
    color: #67809f;
  }
}
//  ON HOVER EFFECTS FOR LIGHT-BLUE CARD

.card__hover__light__blue:hover {
  background-color: #286abd;
  color: white;
  border-color: #286abd;

  h2{
    color: white;
  }

  i{
    color: #286abd;
  }

  .middle__nav__read__more {
    background-color: white;
    color: #286abd;
  }

  .middle__nav__card__break{
    background-color: white;
  }

  .middle__nav__card__icon {
    background-color: white;
    color: #286abd;
  }
}
// 
//  ON HOVER EFFECTS FOR GREEN CARD

.card__hover__green:hover {
  background-color: #2ecc71;
  color: white;
  border-color: #2ecc71;

  h2{
    color: white;
  }

  i{
    color: #2ecc71;
  }
  .middle__nav__read__more {
    background-color: white;
    color: #2ecc71;
  }

  .middle__nav__card__break{
    background-color: white;
  }

  .middle__nav__card__icon {
    background-color: white;
    color: #2ecc71;
  }
}
// 
//  ON HOVER EFFECTS FOR RED CARD

.card__hover__red:hover {
  background-color: #d64541;
  color: white;
  border-color: #d64541;

  h2{
    color: white;
  }

  i{
    color: #d64541;
  }

  .middle__nav__read__more {
    background-color: white;
    color: #d64541;
  }

  .middle__nav__card__break{
    background-color: white;
  }

  .middle__nav__card__icon {
    background-color: white;
    color: #d64541;
  }
}
// 
//  ON HOVER EFFECTS FOR PURPLE CARD

.card__hover__purple:hover {
  background-color: #926fb1;
  color: white;
  border-color: #926fb1;

  h2{
    color: white;
  }

  i{
    color: #926fb1;
  }

  .middle__nav__read__more {
    background-color: white;
    color: #926fb1;
  }

  .middle__nav__card__break{
    background-color: white;
  }

  .middle__nav__card__icon {
    background-color: white;
    color: #926fb1;
  }
}
// 
//  ON HOVER EFFECTS FOR LIGHT RED CARD

.card__hover__light__red:hover {
  background-color: #f62459;
  color: white;
  border-color: #f62459;

  h2{
    color: white;
  }
  
  i{
    color: #f62459;
  }

  .middle__nav__read__more {
    background-color: white;
    color: #f62459;
  }

  .middle__nav__card__break{
    background-color: white;
  }

  .middle__nav__card__icon {
    background-color: white;
    color: #f62459;
  }
}
// 
// 
//

.middle__nav__card__icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-color: #67809f;
  color: white;

    i{
      color: #fff;
    }
}

.middle__nav__card__text {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: 0.85em;
}

.card__header__font {
  display: inline-flex;
  font-weight: 850;
  color: rgb(0, 0, 0, 0.8);
}

.middle__nav__card__text >p {
  display: inline-flex;
  width: 90%;
  height: 60px;
  font-weight: 700px;
  font-size: 14px;
  word-spacing: normal;
  text-align: center;
  letter-spacing: 0.1px;
  word-spacing: 0.3px;
  padding-bottom: 5px;
  color: rgb(14, 14, 14);
}

.middle__nav__read__more {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 2.9em;
  width: 8.2em;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px;
  border-radius: 4%;
  background: #67809f;
  color: white;
  margin-bottom: 15px;
}

.middle__nav__card__break {
  width: 35px;
  height: 3px;
  background-color: rgb(58, 57, 57);
  border: none;
}

.middle__nav__text__style{
  text-decoration: none;
  margin-top: 11px;
}

//
// Colours for icons
//
.card__color__blue {
  background-color: #67809f;
}

.card__color__light__blue {
  background-color: #286abd;
}

.card__color__green {
  background-color: #2ecc71;
}

.card__color__red {
  background-color: #d64541;
}

.card__color__purple {
  background: #926fb1;
}

.card__color__light__red {
  background: #f62459;
}

.card__color__purple {
  background-color: #926fb1;
}