// 
// 
// Main Classes
.news__letter__sign__up {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 40.75em;
    background-color: #ddd;
}

.news__letter__sign__up__inner {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 0px 20px;

    h1{
        display: flex;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: .4px;
        font-family:sans-serif;
        color: #333645;
        padding-right: 16.66em;
    }

    a{
        color: #333645;
    }

    h3{
        display: flex;
        margin-bottom: 0px;
    }
}

.news__letter__sign__up__inner__name {
    display: flex;

    //This selects the red astrix only
    :nth-child(2) {
        display: flex;
        width: 10%;
        color: rgb(199, 39, 71);
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-left: 5px;
    }
}

.news__letter__sign__up__inner__email {
    display: flex;

    //This selects the red astrix only
    :nth-child(2) {
        display: flex;
        width: 10%;
        color: rgb(199, 39, 71);
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-left: 5px;
        
    }
}



.news__letter__sign__up__subscribe {
    display: flex;
    width: 8em;
    height: 3em;
    border: 2px;
    border-radius: 4%;
    background-color: #333645;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
} 

.news__letter__sign__up__subscribe:hover {
    background-color: #252731;
}


.news__letter__tickbox {
    display: flex;


    // label{
    //     padding-left: 46px;
    //     line-height: 32px;
    //     color: #333645;
    //     font-weight: 600;
    //     font-family: Poppins,sans-serif;
    //     letter-spacing: .4px;
    //     font-size: 1rem;
    // }
}




// 
// 
// Id's
#sign_up {
    display: flex;
    width: 10em;
}

#your__name__search__input {
    display: flex;
    width: 80%;
    height: 3em;
    background-color: rgba(255, 255, 255);
    border: 2px solid rgb(212, 210, 210);
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 350px;
}

#your__email__search__input {
    display: flex;
    width: 80%;
    height: 3em;
    background-color: rgba(255, 255, 255);
    border: 2px solid rgb(212, 210, 210);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 350px;
}

// 
// 
// Tickbox 
[type="checkbox"]{
    opacity: 0;
}

[type="checkbox"] + label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: #333645;
    padding-left: 46px;
    padding-right: 50px;
    line-height: 32px;
    color: #333645;
    font-weight: bolder;
    font-family: Poppins, sans-serif;
    letter-spacing: .4px;
    font-size: 1rem;
}

[type="checkbox"] + label::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    outline: 3px solid ;
    border-radius: 3%;
    background: #ddd;
}

[type="checkbox"]:checked + label::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    outline: 2px solid #333645;
    background: #ddd;
}

[type="checkbox"]:checked + label::after{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    background-image: url(../assets/check.png);
    background-size: contain;
    
}
// 
// 
// 
