// // //
body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    text-decoration: none;
    height: 100%;
    width: 100%;
    margin: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #FFFFF9;
    }
  //
  //
  //
  .container {
    display: inline-flex;
    background-color: #FFFFF9;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 0px 15px;
    }
  //
  //
  //
  //

  //
  //
  //
  // .main__nav {
  // }
  // //
  // .main__nav__button {
  // }
  //
  //
  //
  .slider {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 33em;
    background: url("Slider__background.jpg");
  }
  //
  // .slider__header {
  //
  // }
  //
  // .slider__dots{
  //   display: inline-flex;
  //   width: 100%;
  //   border: none;
  //   justify-content: space-around;
  // }
  //
  // .slider__dots__inner {
  //   background-color: #666;
  //   border: none;
  //   padding: 20px;
  //   text-align: center;
  //   text-decoration: none;
  //   display: inline-block;
  //   font-size: 16px;
  //   margin: 4px 2px;
  //   border-radius: 50%;
  // }
  //
  .slider__img {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 30em;
  }
  //
  // .slider__dots___selected {
  //   box-shadow: 0px 0px 0px 3px blue;
  // }
  // //
  .slider__img > img {
    width: 100%;
    height: 100%;
    padding: none;
  
  }
  
  
  //
  //
  //
  @media (min-width: 3px) {
    .main__nav {
      display: none;
    }
  
  
  }
  // // //